node_modules
.git
.gitignore
dist
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.vite
coverage
build
.eslintcache
.netlify
.vercel
README.md
LICENSE
